<div id="<%= dom_id room %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= room.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= room.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Professor:</strong>
    <%= room.professor_id %>
  </p>

</div>
