<div class="flex justify-between items-center">
  <h1 class="text-4xl font-bold">Alunos</h1>
</div>

<% @room.room_requests.each do |room_request| %>
  <%= render RoomRequestCardComponent.new(room_request) %>
<% end %>
